$lt-gray: #ddd;
$background-dark: #751bec;
$background-light: hsl(268, 98%, 51%);
$background-pale: rgb(113, 79, 238);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

 .bg{
    /* Background pattern from Toptal Subtle Patterns */
    //height: 400px;
    //width: 100%;
    background-image: url("/assets/images/bgs.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

 }